@import 'normalize';

body {
	text-align: center;
	font-size: 20px;
	padding:30px;
	background-color: #fefefe;
	color: #555;

	a {
		text-decoration: none;
		margin: 0 5px;
		&:hover {
			text-decoration: underline;
		}
	}

	header {
		padding: 30px;
	}

	h1 {
		font-size: 40px;
	}
	footer {
		padding: 30px;
	}
	a {
		color:#51AAFF;

	}
}
