@import 'normalize';

body {
	text-align: center;
	font-size: 16px;
	padding:30px;
	background-color: #323232;
	color: #ccc;

	a {
		text-decoration: none;
	}

	header {
		padding: 30px;
	}

	h1 {
		color:#EEA74D;
		font-size: 40px;
	}
	footer {
		padding: 30px;
	}
	a {
		color:#ccc;

	}
	.logo-wrapper {
		position:relative;
		width:300px;
		margin:auto;
		img {
			position: relative;
		}
		&:before {
		    content:" ";
		    display:block;
		    position: absolute;
		    box-shadow: 0 0 175px 115px #1F1F1F;
		    margin:auto;
		    top:100px;
		    top: 115px;
		    left: 131px;
		}
	}
}
